extends include/layout.pug

block content
	section.breadcrumb
		.container
			.row
				.col-xs-12
					h2 Наш автопарк
		.breadcrumb__small
			.container
				.row
					.col-xs-12
						a(href="#") Главная
						span Наш автопарк
	section.catalog
		.container
			.row
				.col-xs-12
					.tabs
						ul.tabs__caption.center-xs
							li.active Класс Стандарт
							li Класс Комфорт
							li Класс Бизнес
						.tabs__content.active
							.row
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/1.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/2.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/3.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/4.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/1.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/2.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/3.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3.col-sm-4.col-xs-12
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/4.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.

						.tabs__content
							.row
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/1.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/2.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/3.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/4.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/1.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/2.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/3.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/4.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
						.tabs__content
							.row
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/1.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/2.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/3.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/4.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/1.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/2.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/3.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
								.col-md-3
									a(href="product.html").catalog__block.flex.middle-xs
										.catalog__block__image.flex.bottom-xs
											img(src="img/autopark/4.png", alt="")
										h3 Lada - granda
										span Цена от 800 руб.
				.col-xs-12
					h2 Автопарк нашей компании
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare posuere venenatis. Sed lobortis magna vel volutpat tempus. Pellentesque rutrum iaculis purus, in rhoncus nulla maximus eu. Curabitur sodales enim ac aliquam posuere. Fusce augue velit, ultricies id consequat vel, fringilla ac leo. Aenean tincidunt felis suscipit, ultricies augue id, pellentesque mauris. Proin sed nisi eu mauris dignissim tempus eu at arcu. Cras ipsum mauris, lobortis eget tempor ut, tincidunt non elit. Curabitur eu metus lacinia, viverra massa vel, blandit justo.
					p Morbi et rutrum risus. Donec malesuada suscipit nisi at aliquet. Vivamus a diam et augue egestas accumsan. Phasellus scelerisque sem a dolor finibus blandit. Nullam sodales non sapien eget hendrerit. Proin rhoncus posuere urna eu tempor. In hac habitasse platea dictumst. Nulla id nibh posuere, sagittis erat id, laoreet ante. Aenean erat lectus, commodo vel tempor quis, pellentesque non mi. Praesent condimentum ullamcorper metus, at ultrices massa imperdiet sit amet. In vitae euismod ante. Aliquam erat volutpat. Donec in erat bibendum, ultricies ex sed, vehicula tortor. Maecenas rhoncus tempus ligula, a tempus nulla tincidunt ac.