extends include/layout.pug

block content
	section.breadcrumb
		.container
			.row
				.col-xs-12
					h2 Контакты
		.breadcrumb__small
			.container
				.row
					.col-xs-12
						a(href="#") Главная
						span Контакты
	section.contacts
		.container
			.row.around-xs
				.col-md-3.col-sm-6.col-xs-12
					.contacts__phone
						.row
							.col-xs-2
								i.icon-phone
							.col-xs-10
								p Телефоны:
								a(href="tel:+7(343)2000356") +7 (343) 200-03-56
								a(href="tel:+7(343)2004030") +7 (343) 200-40-30
				.col-md-3.col-sm-6.col-xs-12
					.contacts__mail
						.row
							.col-xs-2
								i.icon-mail-envelope-closed
							.col-xs-10
								p E-mail:
								a(href="mailto:avto2000356@mail.ru") avto2000356@mail.ru
				.col-md-6.col-xs-12
					.contacts__time
						.row
							.col-sm-1.col-xs-2
								i.icon-clock
							.col-sm-11.col-xs-10
								p Собеседования с водителями по работе в такси: 12.00 - 14.00
								p Выдача автомобилей: 14.00 - 15.00
								p Бесплатные консультации по аренде автомобилей: среда, 13.00
				.col-xs-12
					.contacts__map
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d36055.44671936008!2d37.5900806445661!3d55.6113168958012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1507020087349" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	section.company
		.container
			.row
				.col-xs-12
					h2 Компания «Аренда авто»
				.col-xs-12
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget erat ut magna convallis tempor. Aenean turpis leo, semper fermentum condimentum eu, tincidunt at lectus. Maecenas iaculis lacinia nisi mollis venenatis. Nam sit amet porttitor nunc, eu ultrices nisl. Nunc iaculis aliquam porttitor. Nunc ultrices facilisis mauris, quis auctor nisl gravida at. Proin dignissim et est in iaculis. Quisque metus urna, iaculis ut justo scelerisque, vulputate egestas lectus. Aenean ultricies vestibulum ornare. Ut egestas turpis quis nibh dictum aliquet. Integer rhoncus blandit ex a luctus. Nam congue feugiat convallis. Donec rhoncus risus ac neque porta pellentesque. Vestibulum a consectetur quam. Sed urna sapien, egestas eu pulvinar sit amet, ullamcorper a leo. Nunc sit amet euismod sem. Nulla et pulvinar tortor. Sed commodo eros risus, nec maximus erat ultricies fringilla. Morbi fringilla tempus accumsan. Morbi ut purus odio. Suspendisse lacinia pulvinar elit in lacinia. Donec eleifend ut est eget lobortis. Curabitur malesuada felis et ullamcorper ultrices. 
















