extends include/layout.pug

block content
	section.breadcrumb
		.container
			.row
				.col-xs-12
					h2 Автолизинг для физических лиц
		.breadcrumb__small
			.container
				.row
					.col-xs-12
						a(href="#") Главная
						span Автолизинг для физических лиц
	section.fiz
		.container
			.row
				.col-xs-12
					.tabs
						.row
							.col-sm-3.col-xs-12
								ul.tabs__caption.center-xs
									li.active Право выкупа
									li Автолизинг
									li Срочный выкуп
							.col-sm-9.col-xs-12
								.tabs__content.active
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur ullamcorper varius placerat. Vivamus sed felis et erat aliquam suscipit. Morbi eu porta sem, sed sollicitudin eros. Quisque vitae vehicula ipsum, nec interdum tortor. Suspendisse sit amet ex nec leo sagittis viverra. Proin mollis purus at velit congue posuere. Vestibulum in sem et felis placerat cursus sed eget mauris. Integer dui tellus, feugiat eget eleifend nec, facilisis eu augue. Sed at ornare ipsum, eu euismod leo. Duis placerat vel felis eget fermentum. Curabitur gravida mi luctus ex tempor, a tempus eros suscipit. Pellentesque interdum tortor non ligula viverra hendrerit sed nec est. Nunc feugiat ornare augue eget mollis. Etiam aliquet orci varius congue dignissim.
									p Nunc luctus, quam eget dictum varius, leo quam suscipit erat, a gravida lectus lorem vitae turpis. Integer elit ex, pulvinar at augue ut, finibus pulvinar diam. Proin ultricies ante cursus tortor facilisis, nec cursus odio vulputate. Phasellus a enim in purus luctus euismod. Quisque sollicitudin egestas fermentum. Suspendisse tristique sed orci id fermentum. Integer gravida commodo dolor. Nunc ac fermentum nulla. Suspendisse sit amet leo efficitur ligula laoreet pulvinar et eu leo. Donec eu faucibus lorem, eu pretium erat. Vestibulum neque augue, tempus vel ornare sed, porta eu nisl. Pellentesque faucibus elementum ipsum id hendrerit. Ut orci purus, tempor id tortor ac, egestas interdum lorem.
									h2 Title
									p viverra odio. Curabitur ullamcorper varius placerat. Vivamus sed felis et erat aliquam suscipit. Morbi eu porta sem, sed sollicitudin eros. Quisque vitae vehicula ipsum, nec interdum tortor. Suspendisse sit amet ex nec leo sagittis viverra. Proin mollis purus at velit congue posuere. Vestibulum in sem et felis placerat cursus sed eget mauris. Integer dui tellus, feugiat eget eleifend nec, facilisis eu augue. Sed at ornare ipsum, eu euismod leo. Duis placerat vel felis eget fermentum. Curabitur gravida mi luctus ex tempor, a tempus eros suscipit. Pellentesque interdum tortor non ligula viverra hendrerit sed nec est. Nunc feugiat ornare augue eget mollis. Etiam aliquet orci varius congue dignissim.
									p Nunc luctus, quam eget dictum varius, leo quam suscipit erat, a gravida lectus lorem vitae turpis. Integer elit ex, pulvinar at augue ut, finibus pulvinar diam. Proin ultricies ante cursus tortor facilisis, nec cursus odio vulputate. Phasellus a enim in purus luctus euismod. Quisque sollicitudin egestas fermentum. Suspendisse tristique sed orci id fermentum. Integer gravida commodo dolor. Nunc ac fermentum nulla. Suspendisse sit amet leo efficitur ligula laoreet pulvinar et eu leo. Donec eu faucibus lorem, eu pretium erat. Vestibulum neque augue, tempus vel ornare sed, porta eu nisl. Pellentesque faucibus elementum ipsum id hendrerit. Ut orci purus, tempor id tortor ac, egestas interdum lorem.
								.tabs__content
								.tabs__content