extends include/layout.pug

block content
	section.offer
		.offer__park
			.container
				.row
					.col-xs-12.start-md.center-xs
						p Автопарк нашей компании 
						h1 Аренда любого авто
					.col-md-6.col-sm-12.col-xs-12
						.row.center-xs
							.col-sm-4.col-xs-12
								.offer__park__block
									.offer__park__block__image
										img(src="img/offer/1.png", alt="")
									a(href="#").btn Класс Стандарт
							.col-sm-4.col-xs-12
								.offer__park__block
									.offer__park__block__image
										img(src="img/offer/2.png", alt="")
									a(href="#").btn Класс Комфорт
							.col-sm-4.col-xs-12
								.offer__park__block
									.offer__park__block__image
										img(src="img/offer/3.png", alt="")
									a(href="#").btn Класс Бизнес
		.offer__form
			form
				.container
					.row
						.col-xs-12.start-sm.center-xs
							.heading
								h2 Аренда автомобиля
									select
										option Стандарт класса
										option Комфорт класса
								p Просто выберите подходящий для Вас автомобиль
						.col-sm-4.col-xs-12
							input(type="text" placeholder="Как вас зовут?")
						.col-sm-4.col-xs-12
							input(type="text" placeholder="Как вас зовут?")
						.col-sm-4.col-xs-12
							input(type="text" placeholder="Как вас зовут?")
						.col-xs-12
							input(type="submit" value="Оставить заявку")
	section.help
		.container
			.row
				.col-xs-12.center-xs
					h2 Таксопарк Авто Партнер Екатеринбург поможет вам зарегистрироваться, обучиться и начать работу с Яндекс.Такси
				.col-sm-4.col-xs-12
					.help__block.flex.center-xs.middle-xs
						.help__block-1
							img(src="img/help/1.png", alt="")
				.col-sm-4.col-xs-12
					.help__block.flex.center-xs.middle-xs
						img(src="img/help/2.png", alt="")
				.col-sm-4.col-xs-12
					.help__block.flex.center-xs.middle-xs
						.help__block-3
							img(src="img/help/3.png", alt="")
				.col-xs-12.center-xs
					a(href="#").btn Подключиться
	section.step
		.container
			.row
				.col-xs-12.center-xs.start-md
					.heading
						h2 Как получить автомобиль
				.col-md-3.col-sm-6.col-xs-12.step__block.flex.middle-xs
					.step__block__icon.flex.center-xs.middle-xs
						img(src="img/step/1.png", alt="")
					h3 Выбирете себе автомобиль
				.col-md-3.col-sm-6.col-xs-12.step__block.flex.middle-xs
					.step__block__icon.flex.center-xs.middle-xs
						img(src="img/step/2.png", alt="")
					h3 Оставьте заявку на сайте
				.col-md-3.col-sm-6.col-xs-12.step__block.flex.middle-xs
					.step__block__icon.flex.center-xs.middle-xs
						img(src="img/step/3.png", alt="")
					h3 Мы расчитаем график
				.col-md-3.col-sm-6.col-xs-12.step__block.flex.middle-xs
					.step__block__icon.flex.center-xs.middle-xs
						img(src="img/step/4.png", alt="")
					h3 Получите автомобиль!
	section.park
		.container
			.row
				.col-xs-12.center-xs
					.heading
						h2 Автопарк нашей компании
				.col-xs-12
					.tabs
						ul.tabs__caption.center-xs
							li.active Класс Стандарт
							li Класс Комфорт
							li Класс Бизнес
						.tabs__content.active
							.swiper-container#park
								.swiper-wrapper
									.swiper-slide(data-name="Reno Logan")
										.row.center-xs
											.col-xs-12
												img(src="img/park/slider.png", alt="")
												h3 Reno Logan
									.swiper-slide(data-name="Hyundai solaris")
										.row.center-xs
											.col-xs-12
												img(src="img/park/slider.png", alt="")
												h3 Hyundai solaris - 2014г
									.swiper-slide(data-name="Kia Rio")
										.row.center-xs
											.col-xs-12
												img(src="img/park/slider.png", alt="")
												h3 Kia Rio
								.swiper-button-next.flex.center-xs.middle-xs
									i.icon-arrow
								.swiper-button-prev.flex.center-xs.middle-xs
									i.icon-arrow
							.swiper-pagination
						.tabs__content
						.tabs__content
	section.faq
		.container
			.row
				.col-xs-12
					.heading
						h2 Почему работать с нами комфортно?
				.col-xs-12
					ul
						li
							span.flex.center-xs 1
							h3.flex Все автомобили не старше 3-х лет
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt quis sapien ultrices finibus. Suspendisse lobortis elit a pellentesque ultrices. Sed consequat eleifend sodales. Etiam malesuada posuere neque eu fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ut sem maximus, laoreet tortor at, mollis dolor. Donec mi neque, tincidunt in varius at, facilisis quis justo. Curabitur ultricies eleifend ligula, at semper neque eleifend id. Nunc vitae leo non orci tempus tempus. Nulla augue purus, consectetur in neque eu, porta mattis magna. Maecenas lorem magna, dictum eget tempus id, porttitor in quam.
						li 
							span.flex.center-xs 2
							h3 Все автомобили застрахованы КАСКО
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt quis sapien ultrices finibus. Suspendisse lobortis elit a pellentesque ultrices. Sed consequat eleifend sodales. Etiam malesuada posuere neque eu fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ut sem maximus, laoreet tortor at, mollis dolor. Donec mi neque, tincidunt in varius at, facilisis quis justo. Curabitur ultricies eleifend ligula, at semper neque eleifend id. Nunc vitae leo non orci tempus tempus. Nulla augue purus, consectetur in neque eu, porta mattis magna. Maecenas lorem magna, dictum eget tempus id, porttitor in quam.
						li 
							span.flex.center-xs 3
							h3 Дополнительные водители БЕСПЛАТНО
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt quis sapien ultrices finibus. Suspendisse lobortis elit a pellentesque ultrices. Sed consequat eleifend sodales. Etiam malesuada posuere neque eu fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ut sem maximus, laoreet tortor at, mollis dolor. Donec mi neque, tincidunt in varius at, facilisis quis justo. Curabitur ultricies eleifend ligula, at semper neque eleifend id. Nunc vitae leo non orci tempus tempus. Nulla augue purus, consectetur in neque eu, porta mattis magna. Maecenas lorem magna, dictum eget tempus id, porttitor in quam.
						li 
							span.flex.center-xs 4
							h3 Бесплатная доставка автомобиля
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt quis sapien ultrices finibus. Suspendisse lobortis elit a pellentesque ultrices. Sed consequat eleifend sodales. Etiam malesuada posuere neque eu fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ut sem maximus, laoreet tortor at, mollis dolor. Donec mi neque, tincidunt in varius at, facilisis quis justo. Curabitur ultricies eleifend ligula, at semper neque eleifend id. Nunc vitae leo non orci tempus tempus. Nulla augue purus, consectetur in neque eu, porta mattis magna. Maecenas lorem magna, dictum eget tempus id, porttitor in quam.
	section.taxi
		.container
			.row.middle-xs
				.col-xs-12.flex.between-sm.center-xs
					img(src="img/taxi/1.png", alt="")
					img(src="img/taxi/2.png", alt="")
					img(src="img/taxi/3.png", alt="")
					img(src="img/taxi/4.png", alt="")
	section.review
		.container
			.row
				.col-xs-12
					.heading
						h2 Отзывы наших арендаторов
			.swiper-container#review
				.swiper-wrapper
					.swiper-slide
						.review__block
							.row.middle-xs
								.col-sm-6.col-xs-12.middle-xs.flex
									i.icon-people.flex.center-xs
									h3 Тукаев Алексей
								.col-sm-6.col-xs-12.end-sm.start-xs
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star.no-active
								.col-xs-12
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices turpis at mauris varius rutrum. Integer mattis turpis a tellus vulputate, sit amet viverra quam luctus. Ut ac tellus porttitor, pellentesque elit sit amet, gravida lorem. Curabitur vehicula eros sed ipsum elementum posuere. Proin ornare pharetra nisl at pulvinar. Donec dictum urna eu magna accumsan convallis. Pellentesque vitae mollis lectus. Donec turpis urna, pretium et sagittis at, aliquam vel risus.
					.swiper-slide
						.review__block
							.row.middle-xs
								.col-md-6.middle-xs.flex
									i.icon-people.flex.center-xs
									h3 Тукаев Алексей
								.col-md-6.end-sm.start-xs
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star.no-active
								.col-xs-12
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices turpis at mauris varius rutrum. Integer mattis turpis a tellus vulputate, sit amet viverra quam luctus. Ut ac tellus porttitor, pellentesque elit sit amet, gravida lorem. Curabitur vehicula eros sed ipsum elementum posuere. Proin ornare pharetra nisl at pulvinar. Donec dictum urna eu magna accumsan convallis. Pellentesque vitae mollis lectus. Donec turpis urna, pretium et sagittis at, aliquam vel risus.
					.swiper-slide
						.review__block
							.row.middle-xs
								.col-md-6.middle-xs.flex
									i.icon-people.flex.center-xs
									h3 Тукаев Алексей
								.col-md-6.end-sm.start-xs
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star.no-active
								.col-xs-12
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices turpis at mauris varius rutrum. Integer mattis turpis a tellus vulputate, sit amet viverra quam luctus. Ut ac tellus porttitor, pellentesque elit sit amet, gravida lorem. Curabitur vehicula eros sed ipsum elementum posuere. Proin ornare pharetra nisl at pulvinar. Donec dictum urna eu magna accumsan convallis. Pellentesque vitae mollis lectus. Donec turpis urna, pretium et sagittis at, aliquam vel risus.
			.swiper-button-next.flex.center-xs.middle-xs
				i.icon-arrow
			.swiper-button-prev.flex.center-xs.middle-xs
				i.icon-arrow
			.swiper-pagination
	section.consultation
		.container
			.row
				.col-md-4
				.col-md-8.col-xs-12.center-xs.start-md
					h2 Нужна консультация
					p Оставьте заявку и мы перезвоним, и проконсультируем Вас
					form
						.row
							.col-sm-4.col-xs-12
								input(type="text" placeholder="Как вас зовут?")
							.col-sm-4.col-xs-12
								input(type="text" placeholder="Как вас зовут?")
							.col-sm-4.col-xs-12
								input(type="tel" placeholder="Ваш телефон")
							.col-xs-12
								input(type="submit" value="Оставить заявку")
