ul
	li
		a(href="home.html") Главная
	li
		a(href="catalog.html") Каталог
	li
		a(href="product.html") Карточка товара
	li
		a(href="news.html") Новости
	li
		a(href="price.html") Цены
	li
		a(href="taxi.html") Такси
	li
		a(href="yandex.html") Яндекс
	li
		a(href="fiz.html") Автолизинг для физических лиц
	li
		a(href="conditions.html") Условия
	li
		a(href="contacts.html") Контакты


