extends include/layout.pug

block content
	section.breadcrumb
		.container
			.row
				.col-xs-12
					h2 Новости
		.breadcrumb__small
			.container
				.row
					.col-xs-12
						a(href="#") Главная
						span Новости
	section.news
		.container
			.row
				.col-md-4.col-sm-6.col-xs-12
					a(href="#").news__article
						.news__article__img
							img(src="img/news/1.png", alt="")
						span 10 Сентября
						h2 Поступление новых Volkswagen Polo 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur
				.col-md-4.col-sm-6.col-xs-12
					a(href="#").news__article
						.news__article__img
							img(src="img/news/2.png", alt="")
						span 10 Сентября
						h2 Поступление новых Volkswagen Polo 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur
				.col-md-4.col-sm-6.col-xs-12
					a(href="#").news__article
						.news__article__img
							img(src="img/news/3.png", alt="")
						span 10 Сентября
						h2 Поступление новых Volkswagen Polo 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur
				.col-xs-12
					hr
				.col-md-3.col-sm-4.col-xs-12
					a(href="#").news__article--2
						h2 Наши пожелания к вам
						span 10 Сентября
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur ullamcorper varius
				.col-md-3.col-sm-4.col-xs-12
					a(href="#").news__article--2
						h2 Наши пожелания к вам
						span 10 Сентября
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur ullamcorper varius
				.col-md-3.col-sm-4.col-xs-12
					a(href="#").news__article--2
						h2 Наши пожелания к вам
						span 10 Сентября
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur ullamcorper varius
				.col-md-3.col-sm-4.col-xs-12
					a(href="#").news__article--2
						h2 Наши пожелания к вам
						span 10 Сентября
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio. Curabitur ullamcorper varius
		.news__archive
			.container
				.row
					.col-xs-12
						h2 Архив
			.news__archive__row
				.container
					.row
						.col-md-3.col-sm-4.col-xs-12
							a(href="#").news__archive__article
								h2 Новость 1
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio.
						.col-md-3.col-sm-4.col-xs-12
							a(href="#").news__archive__article
								h2 Новость 2
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio.
						.col-md-3.col-sm-4.col-xs-12
							a(href="#").news__archive__article
								h2 Новость 3
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio.
						.col-md-3.col-sm-4.col-xs-12
							a(href="#").news__archive__article
								h2 Новость 4
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ante at lectus pellentesque ultrices vitae sit amet orci. Etiam quis viverra odio.